<div id="home" style="padding-top: 5rem;"></div>

<section id="banners" class="py-5 bg-light">
    <div class="container-fluid col-11">
        <div id="bannersCarousel" class="carousel slide" data-bs-ride="carousel" data-wrap="true">
            <div class="carousel-indicators">
                {{#each banner}}
                <button type="button" data-bs-target="#bannersCarousel" data-bs-slide-to="{{this.no}}"
                    class="btn-secondary {{this.clas}}" aria-current="true" aria-label="Slide {{this.no}}"></button>
                {{/each}}
            </div>
            <div class="carousel-inner">
                {{#each banner}}
                <div class="carousel-item {{this.clas}}" data-bs-interval="3000">
                    <img src="{{this.im}}" class="d-block w-100 image-fluid" alt="{{this.name}}">
                </div>
                {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#bannersCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#bannersCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="container">
    <div class="row" id="td">
        <h2 class="text-center text-secondary">Todays Top Deals</h2>
        {{#each products}}
        <div class="col-6 col-md-3 my-3">
            <div class="card" style="height: 18rem;">
                <img src="{{this.Link}}" class="card-img-top" alt="item Image">
                <div class="card-body">
                    <h5 class="card-title">{{this.Name}}</h5>
                    <button onclick="cadd('datascience')" class="btn btn-dark">{{this.Price}}</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<section class="container text-center bg-dark">
    <div class="row col-12">
        <p class="text-light" style="font-family: 'Times New Roman', Times, serif; font-size: 5rem;"><span
                class="text-success" style="font-family: 'Times New Roman', Times, serif; font-size: 7rem;">D</span>ont
            <span class="text-success"
                style="font-family: 'Times New Roman', Times, serif; font-size: 7rem;">M</span>iss <span
                class="text-success" style="font-family: 'Times New Roman', Times, serif; font-size: 7rem;">Deals</span>
        </p>
        <h3 class="text-secondary pb-5"
            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight:bold;">
            -Exclusive offers that won't be available anywhere else-</h3>
    </div>
</section>

<section class="container">

</section>