<div class="container pt-5">
    <h2 class="pb-4 pt-4 text-center text-dark" id="urcart">Your Cart</h2>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {{#each cartProducts}}
            <tr id="row-{{this.product._id}}">
                <td><img src="{{this.product.Link}}" width="80" height="40"></td>
                <td>{{this.product.Name}}</td>
                <td>{{this.product.Category}}</td>
                <td>{{this.product.Price}}</td>
                <td>
                    <button class="btn btn-sm btn-secondary"
                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                    <span id="quantity-{{this.product._id}}">{{this.quantity}}</span>
                    <button class="btn btn-sm btn-secondary"
                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                    <a href="javascript:void(0);" onclick="deleteCartProduct('{{this._id}}', '{{this.product._id}}')"
                        class="btn btn-danger btn-sm">Remove</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    function changeQuantity(cartId, proId, count) {
        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: proId,
                count: count
            },
            method: 'post',
            success: (response) => {
                if (response.success) {
                    $("#quantity-" + proId).text(response.newQuantity);
                } else if (response.removed) {
                    $("#row-" + proId).fadeOut();
                }
            }
        })
    }
    function deleteCartProduct(cartId, proId) {
        $.ajax({
            url: `/delete-cart-product/${cartId}/${proId}`,
            method: 'GET',
            success: (response) => {
                if (response.success) {
                    $("#row-" + proId).fadeOut();
                }
            }
        });
    }
</script>